/*--------------------------------------------------------------------
*
* BASE 
*
--------------------------------------------------------------------*/

body
  color: $gray
  
.container-fluid
  display: flex
  min-height: 100vh
  flex-direction: column
    
main
  flex: 1
  
a, a:visited, a:active
  color: $green
  
a, a:active, a:hover
  text-decoration: none