/*--------------------------------------------------------------------
*
* BASE 
*
--------------------------------------------------------------------*/

body
  color: $gray
  
a, a:active, a:hover
  text-decoration: none