/*--------------------------------------------------------------------
*
* BUTTONS 
*
--------------------------------------------------------------------*/

.button
  display: inline-block
  border: none
  border-radius: 3px
  padding: $spacing-narrow $spacing-base
  text-align: center
  cursor: pointer
  color: white
  background-color: $blue

  transition-delay: 0
  transition-duration: .3s
  transition-timing-function: ease-in
  transition-property: background, border-color
  user-select: none
  appearance: none
  
  &:focus
    outline: none