/*--------------------------------------------------------------------
*
* HEADER 
*
--------------------------------------------------------------------*/

.header-container  
  display: flex
  align-items: center
  justify-content: center  
  height: 85vh
  
  header
    max-width: 800px