/*--------------------------------------------------------------------
*
* HELPERS 
*
--------------------------------------------------------------------*/

.separator-dot
  display: inline-block
  margin-left: $spacing-narrow