/*--------------------------------------------------------------------
*
* LAYOUT 
*
--------------------------------------------------------------------*/

@media screen and (min-width: 71em)
  
  .container-fluid
    max-width: 1000px