/*--------------------------------------------------------------------
*
* LISTS 
*
--------------------------------------------------------------------*/

.list-unstyled
  margin: 0
  padding: 0
  list-style: none
  
.list-inline
  
  li
    display: inline-block
  
  li:not(:last-child)
    margin-right: $spacing-base