/*--------------------------------------------------------------------
*
* LISTS 
*
--------------------------------------------------------------------*/

.list-unstyled
  margin: 0
  padding: 0
  list-style: none
  
.list-inline
  
  li
    display: inline-block

.list-spaced-narrow
  li:not(:last-child)
    margin-right: $spacing-sm
    
.list-spaced-base
  li:not(:last-child)
    margin-right: $spacing