/*--------------------------------------------------------------------
*
* TYPE 
*
--------------------------------------------------------------------*/

.wf-loading 
  body,
  h1, h2, h3, h4, h5, h6
    font-family: $font-family-sans-fallback

.wf-active body
  font-family: $font-family-acumin

.wf-active
  h1
    font-family: $font-family-ff-meta
    
  h1, h2, h3, h4, h5, h6
    font-weight: $font-weight-bold

  h2, h3, h4, h5, h6 
    font-family: $font-family-acumin

h1, h2, h3, h4, h5, strong
  color: black
  line-height: $line-height-headings
  
body
  font-size: $font-size-base
  line-height: $line-height-base
  
p, blockquote
  margin: 0 0 30px 0
  
.txt-up
  text-transform: uppercase
  
.txt-sm
  font-size: $font-size-sm
  
.txt-large
  font-size: 3rem
  
.highlight
  border-bottom: 5px solid $yellow
  font-weight: $font-weight-bold