/*--------------------------------------------------------------------
*
* TYPE 
*
--------------------------------------------------------------------*/

.wf-loading 
  body,
  h1, h2, h3, h4, h5
    font-family: $font-family-sans-fallback

.wf-active body
  font-family: $font-family-acumin

.wf-active
  h1, h2, h3, h4, h5 
    font-family: $font-family-soleil
    font-weight: $font-weight-regular

h1, h2, h3, h4, h5, strong
  color: black
    
h1, h2, h3
  margin: $spacing 0
  line-height: $line-height-headings
  text-align: center
  
body
  font-size: $font-size-base
  line-height: $line-height-base
  
p, ul
  margin-top: 0
  margin-bottom: $spacing
  
h1
  font-size: $font-size-h1

h2
  font-size: $font-size-h2
  text-transform: uppercase
  
h3
  font-size: $font-size-h3
  
.txt-up
  text-transform: uppercase
  
.txt-left
  text-align: left
  
.txt-right
  text-align: right
  
.txt-center
  text-align: center
  
.txt-sm
  font-size: $font-size-sm
  
.txt-lg
  font-size: $font-size-lg
  line-height: 1.4
  
.highlight
  display: inline-block
  padding: 2px 5px
  background-color: $yellow
  color: $gray-light
    
@media screen and (max-width: 48em)

  h1
    font-size: $font-size-h1-mobile
    
  .txt-lg
    font-size: $font-size-base
    
@media screen and (min-width: 60em)

  h1, h2, h3
    margin: $spacing-lg 0
  