footer.txt-sm.txt-center(role="contentinfo")
  nav.mb1(role="navigation")
    ul.list-unstyled.list-inline.list-spaced-narrow.txt-up
      li: a(href="#preorder") Preorder
      li: a(href="#patron") Become a patron
      li: a(href="#faq") FAQ
      li: a(href="#testimonials") Testimonials
      li: a(href="#about") About
      li: a(href="mailto:hi+inclusive@thefox.is") Contact
  
  p &copy; 2016. All Inclusive is published by <a href="http://thefox.is">Karolina Szczur</a>.