footer.txt-sm.row.middle-xs(role="contentinfo")
  nav.col-sm-6(role="navigation")
    ul.list-unstyled.list-inline.txt-up
      li: a(href="#preorder") Preorder
      li: a(href="#patron") Be a patron
      li: a(href="#faq") FAQ
      li: a(href="#testimonials") Testimonials
      li: a(href="#about") About
      li: a(href="mailto:hi+inclusive@thefox.is") Contact
  
  .col-sm-6.txt-right
    p All Inclusive is being published by <a href="http://thefox.is">Karolina Szczur</a>.