footer.center.my3(role="contentinfo")
  .container-fluid.txt-sm
    nav.mb1(role="navigation")
      ul.list-reset
        li.inline-block.mr2: a.caps.bold.h5(href="#preorder") Preorder
        li.inline-block.mr2: a.caps.bold.h5(href="#patron") Become a patron
        li.inline-block.mr2: a.caps.bold.h5(href="#faq") FAQ
        li.inline-block.mr2: a.caps.bold.h5(href="#testimonials") Testimonials
        li.inline-block.mr2: a.caps.bold.h5(href="#about") About
        li.inline-block: a.caps.bold.h5(href="mailto:hi+inclusive@thefox.is") Contact
    
    p &copy; 2016. All Inclusive is published by <a href="http://thefox.is">Karolina Szczur</a>.