footer.txt-sm.row.middle-xs(role="contentinfo")
  nav.col-sm-8(role="navigation")
    ul.list-unstyled.list-inline.list-spaced-narrow.txt-up
      li 
        a(href="#preorder") Preorder
        span.separator-dot •
      li
        a(href="#patron") Become a patron
        span.separator-dot •
      li
        a(href="#faq") FAQ
        span.separator-dot •
      li
        a(href="#testimonials") Testimonials
        span.separator-dot •
      li
        a(href="#about") About
        span.separator-dot •
      li
        a(href="mailto:hi+inclusive@thefox.is") Contact
  
  .col-sm-4.txt-right
    p All Inclusive is published by <a href="http://thefox.is">Karolina Szczur</a>.