.container-nav.center
  nav.my3(role="navigation")
    ul.list-reset
      li.inline-block.mr2: a.caps.bold.h5(href="#about") About
      li.inline-block.mr2: a.caps.bold.h5(href="#faq") FAQ
      li.inline-block.mr2: a.caps.bold.h5(href="#patron") Become a patron
      li.inline-block.mr2: a.caps.bold.h5(href="#testimonials") Testimonials
      li.inline-block: a.caps.bold.h5(href="") Preorder