header.txt-center(role="banner")

  nav.mb1(role="navigation")
    ul.list-unstyled.list-inline.list-spaced-base
      li: a(href="#about") About
      li: a(href="#faq") FAQ
      li: a(href="#patron") Become a patron
      li: a(href="#testimonials") Testimonials
      li.nav-item-highlighted: a(href="") Preorder