header.row.middle-xs(role="banner")
  .col-sm-4
    h2 All Inclusive
  .col-sm-8.txt-right
    nav(role="navigation")
      ul.list-unstyled.list-inline.list-spaced-base
        li: a(href="#testimonials") Testimonials
        li: a(href="#about") About
        li: a(href="#faq") FAQ
        li: a(href="#patron") Be a patron
        li: a.button.button-primary(href="#preorder") Preorder