doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    link(rel="stylesheet" href="css/main.css")
    link(rel="icon", type="image/png", href="img/favicon.png")
    
    title= title
    
    script(src="https://use.typekit.net/hrr3plc.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
      
  body
    .container-fluid
      != yield
    
      != partial("_shared/mailchimp")
      != partial("_shared/footer")
      
    != partial("_shared/analytics")