.container-fluid
  .row.center-xs
    .col-sm-12.col-md-10.col-lg-8
      
      article.mb3
        h1.h1 All Inclusive
        h2.h2 A guide for running diverse and inclusive&nbsp;events.
        p.h3.mb2 There’s an undeniable need for diversity of thought, but more importantly—the fundamental human right to equality.  <em>All Inclusive</em> aims to be a handbook for inclusive, safe gatherings, operating under the principle of <span class="highlight">everyone’s&nbsp;welcome</span>&nbsp;
        
        a.button.button-primary.mb2(href="#preorder") Preorder

  .row.center-xs
    article.col-sm-12.col-md-10.col-lg-8
      h2.h2 Who is this book for?
      ul.list-reset
        li Anyone involved in organising events, from meetups to large scale conferences
        li Event and community managers
        li Volunteers
        li Individuals interested in diversity and inclusion (you!)
        
  .row.center-xs
    article.col-sm-12.col-md-10.col-lg-8
      h2.h2 Topics include
      ul.list-reset
        li
          h3.h3.mb0 Diversity 
          p Defining and acting on diversity goals
        li 
          h3.h3.mb0 Ticketing
          p Inclusive ticket pricing, scholarships and aid for underrepresented groups
        li 
          h3.h3.mb0 Code of Conduct
          p Writing, displaying and rule enforcement
        li 
          h3.h3.mb0 Call for Papers
          p Speaker selection processes
        li 
          h3.h3.mb0 Accessibility and experience
          p Choosing a venue, catering, childcare, providing transcription and interpretation
        li 
          h3.h3.mb0 Improvements
          p Post-event debriefing, collecting feedback and working on improvements

  .row.center-xs
    article.col-xs-12.col-md-10.col-lg-8
      h2.h2 Become a patron
      p Self-publishing a book is a challenging endeavour. To ensure high quality of the publication, I’m looking for financial backing to cover the costs of hiring an editor, an illustrator and offering renumeration to individuals I’m planning to interview. My goals for diversity and producing a possible print edition will also present financial challenges.
      
      p The book will come with <strong>10 limited patron spots</strong> for organisations—people who believe in and demonstrate their investment in diversity and inclusion on a internal level and beyond. 
      
      h3.h3 How does it work?
      p As a patron you’ll get:
      
      ul.list-reset
        li An organisation name, website and a 200-word blurb placed at the back of the book.
        li A copy of the book.
        li Organisation’s logo on the site highlighting your support for diversity and inclusion causes.
        li A heartfelt thank you on social media and a blog post describing your organisation’s committment to diversity and inclusion.
        
      p If you want to back the project <a href="mailto:">reach out</a> to get more information.

  .row.center-xs    
    article.col-xs-12.col-md-12.col-lg-8
      h2.h2 Frequently Asked Questions
      
      h4.h4.mb0 What’s the release date?
      p The book will go out in Q1-Q2 2016.
      
      h4.h4.mb0 What formats will it be available in?
      p The first edition will be published as an eBook in Mobi, ePub and PDF.
      
      h4.h4.m0 I think this is important—What can I do to support the project?
      p You can spread the word about the book on Twitter, Facebook or share directly with your friends. When sharing use <span class="highlight">#beallinclusive</span> hashtag. Alternatively, back the project financially by preordering a copy or becoming a patron.
      
      p Have more questions? Don’t hesitate to <a href="mailto:">reach out</a>.
    
  .row.center-xs
    article.col-xs-12.col-md-12.col-lg-8
      
      h2.h2 About the author
      p Karolina Szczur is a designer, developer and photographer from Kraków, Poland. She ran, spoke at and attended numerous events such as JSConf EU, CSSConf Oakland, RealtimeConf, and &yetConf. All Inclusive stems from her passion for user-centered experiences, empathetic design and frustration over the exclusive status quo.
      
      h3.h3 What people are saying about Karolina’s work
      
      blockquote 
        p “Karolina works to create a safer and more inclusive tech scene in writing, public speaking and event organising with unstoppable energy. With curating CSSConf Oakland and JSConf EU, she has helped to put up some of the most welcoming events I ever attended.”
        footer —Kristina Schneider, organiser of CSSConf EU
        
      blockquote
        p “We can hardly put into words how much help Karolina provided us. Not just being our MC, at the birth of JSConf Budapest, she also helped us a lot on how to get our speakers and our attendees as diverse as possible. Her guidance on CFP diversification and membership in our Diversity Sponsorship jury was truly invaluable, together we could actually change people’s life for good.”
        footer —Szabolcs Toth, organiser of JSConf Budapest
        
      blockquote
        p “Karolina’s work has been a central influence in creating an inclusive culture and diverse gathering of people at the events &yet has created. I have learned a tremendous amount from her. I believe any event can be improved through her advice and insights.“
        footer —Adam Brault, founder of &yet, organiser of RealtimeConf and &yetConf