/*--------------------------------------------------------------------
*
* VARIABLES 
*
--------------------------------------------------------------------*/

$font-family-meta-serif     = "ff-meta-serif-web-pro", georgia, serif;
$font-family-dagny          = "ff-dagny-web-pro", proxima nova, helvetica, arial, sans-serif;

$font-family-serif-fallback = georgia, serif;
$font-family-sans-fallback  = proxima nova, helvetica, arial, sans-serif;

$font-weight-regular        = 400;
$font-weight-bold           = 700;