/*--------------------------------------------------------------------
*
* VARIABLES 
*
--------------------------------------------------------------------*/

$font-family-soleil           = "soleil", proxima nova, helvetica, arial, sans-serif
$font-family-acumin           = "acumin-pro", proxima nova, helvetica, arial, sans-serif

$font-family-sans-fallback    = proxima nova, helvetica, arial, sans-serif

$font-weight-regular          = 400
$font-weight-regular-headings = 500
$font-weight-bold             = 700

$font-size-h1                 = 3.5rem
$font-size-h2                 = 2.5rem
$font-size-h3                 = 2rem
$font-size-h4                 = 1.5rem

$font-size-sm                 = 0.875rem
$font-size-base               = 1.125rem
$font-size-lg                 = 1.5rem

$line-height-base             = 1.5
$line-height-headings         = 1

$spacing-wide                 = 2rem
$spacing-base                 = 1rem
$spacing-narrow               = .5rem

$gray                         = #444
$gray-light                   = lighten($gray, 20%)
$gray-lighter                 = lighten($gray, 95%)

$blue                         = #343B99
$yellow                       = #F1C40F

