/*--------------------------------------------------------------------
*
* VARIABLES 
*
--------------------------------------------------------------------*/

$font-family-meta-serif       = "ff-meta-serif-web-pro", georgia, serif
$font-family-dagny            = "ff-dagny-web-pro", proxima nova, helvetica, arial, sans-serif

$font-family-serif-fallback   = georgia, serif
$font-family-sans-fallback    = proxima nova, helvetica, arial, sans-serif

$font-weight-regular          = 400
$font-weight-bold             = 700

$font-size-h1                 = 2.5rem
$font-size-h2                 = 2rem
$font-size-h3                 = 1.5rem

$font-size-sm                 = 0.875rem
$font-size-base               = 1rem
$font-size-lg                 = 1.5rem

$line-height-base             = 1.5
$line-height-headings         = 1

$spacing-base                 = 1rem
$spacing-narrow               = .5rem

$gray                         = #333
$gray-light                   = lighten($gray, 20%)
$gray-lighter                 = lighten($gray, 70%)