.wf-loading,
.wf-inactive {
  
  & body {
    font-family: $font-meta-fallback;
  }
  
  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-family: $font-acumin-fallback;
  }
  
}

.wf-active {
  
  & body {
    font-family: $font-meta;    
  }
  
  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-family: $font-acumin;
  }
  
}

body {
  font-size: 1.125rem;
}

.link {
  color: $green;
  
  & :hover {
    color: inherit;
  }
}

main .link {
  border-bottom: 1px solid $green;
}

nav .link,
footer .link {
  font-family: $font-acumin;
}